.height {
    height: 10vh;
    
    display: flex;
    justify-content: center;
    align-items: end;
}

.bs {
    background-color: aquamarine;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: end;
}